@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.container-fluid {
    height: 100vh;
}

#canvas {
    background-color: black;
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    width: 90%;
    height: 90%;
    border-radius: 3rem;
    margin: 50px auto 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}